<div class="chat-container">
  <div>{{ costMsg }}</div>
  <div class="chat-history">
    <div
      *ngFor="let item of chatHistory"
      [ngClass]="{
        'user-message': item.type === 'user',
        'bot-message': item.type === 'bot'
      }"
    >
      <div class="message">
        {{ item.message }}
      </div>
    </div>
    <div class="loading-indicator" *ngIf="isLoading">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div class="chat-input">
    <input
      [(ngModel)]="message"
      (keyup.enter)="callChatGpt()"
      placeholder="Escribe tu mensaje..."
    />
    <button pButton label="Enviar" (click)="callChatGpt()"></button>
  </div>
</div>
