<div class="chat-container">
  <div class="chat-history">
    <div *ngIf="!callFirstTime" class="containerLottie">
      <ng-lottie containerClass="moving-box another-class" [styles]="styles" [options]="options"></ng-lottie>
    </div>

    <div
      *ngFor="let item of chatHistory"
      [ngClass]="{
        'user-message': item.type === 'user',
        'bot-message': item.type === 'bot'
      }"
    >
      <div class="message" *ngIf="item.message?.trim() !== ''">
        {{ item.message }}
      </div>
    </div>

    <div class="loading-indicator" *ngIf="isLoading">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div class="chat-input">
    <div class="card flex flex-column md:flex-row gap-3">
      <div class="p-inputgroup">
        <input type="text" pInputText [(ngModel)]="message" (keyup.enter)="callChatGpt()" placeholder="Write your message..." />
        <button type="button" pButton icon="pi pi-send" class="sendButton" (click)="callChatGpt()"></button>

        <p-toast></p-toast>
        <p-menu #menu [model]="itemsSubMenu" [popup]="true" [appendTo]="'body'" [baseZIndex]="10000"></p-menu>
        <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" class="elipsisButton"></button>
      </div>
    </div>
  </div>

  <app-dev-mode></app-dev-mode>
  <app-whatsapp-import *ngIf="showWhatsappImport" (close)="showWhatsappImport = false"></app-whatsapp-import>
</div>
