<div class="p-grid p-justify-center">
  <div class="p-col-12">
    <p-steps [model]="items" [activeIndex]="activeIndex" styleClass="p-steps-vertical p-steps-progressbar"> </p-steps>
  </div>
</div>

<p-card>
  <div *ngIf="activeIndex == 0" class="mb-5">We are going to create your avatar and we need as much information as possible to give it a personality according to what you are looking for.</div>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="p-fluid mt-3">
    <div *ngIf="activeIndex == 0">
      <div class="p-field">
        <input id="name" type="text" pInputText formControlName="name" placeholder="Name" />
      </div>
      <div class="p-field">
        <input id="surname" type="text" pInputText formControlName="surname" placeholder="Surname" />
      </div>
    </div>
    <div *ngIf="activeIndex == 1">
      <div class="p-field">
        <input id="email" type="email" pInputText formControlName="email" placeholder="Email" />
      </div>
    </div>
    <div *ngIf="activeIndex == 2">
      <div class="p-field">
        <p-dropdown id="country" [options]="paises" formControlName="country" placeholder="Country:"></p-dropdown>
      </div>
    </div></form
></p-card>

<div>
  <button *ngIf="activeIndex != 0" (click)="backStep()" pButton class="buttom-left" label="Back"></button>
  <button (click)="nextStep()" pButton class="buttom-right" label="Next"></button>
</div>
