<div class="p-grid p-justify-center">
  <div class="p-col-12">
    <p-steps [model]="items" [activeIndex]="activeIndex" styleClass="p-steps-vertical p-steps-progressbar"> </p-steps>
  </div>
</div>

<p-card>
  <div *ngIf="activeIndex == 0">Vamos a crear tu avatar y necesitamos la máxima información posible para darle una personalidad acorder a lo que buscas.</div>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="p-fluid mt-3">
    <div *ngIf="activeIndex == 0">
      <div class="p-field">
        <label for="nombre">Nombre:</label>
        <input id="nombre" type="text" pInputText formControlName="nombre" />
      </div>
      <div class="p-field">
        <label for="apellido">Apellido:</label>
        <input id="apellido" type="text" pInputText formControlName="apellido" />
      </div>
    </div>
    <div *ngIf="activeIndex == 1">
      <div class="p-field">
        <label for="email">Correo electrónico:</label>
        <input id="email" type="email" pInputText formControlName="email" />
      </div>
      <div class="p-field">
        <label for="pais">País:</label>
        <p-dropdown id="pais" [options]="paises" formControlName="pais"></p-dropdown>
      </div>
    </div></form
></p-card>

<div>
  <button *ngIf="activeIndex != 0" (click)="nextStep()" pButton class="buttom-left" label="Back"></button>
  <button (click)="backStep()" pButton class="buttom-right" label="Next"></button>
</div>
